    <%- include("./partials/header.ejs") %>
    
    <h1>TODO LIST</h1>

    <div class="container">
        <button id = "add">
            <a href="/new">Add Task</a>
        </button>

        <button id = "delete-all">
            <a href="">Delete All</a>
        </button>
    </div>

    <main>
        <ul>
      <!--    <li>
                <input type="checkbox" name="" class="checkbox">
                
                <div class="task-info">
                    <h2 class = "task-title">Aprender React</h2>
                    <small>30/05/2024</small>
                </div>

                <div class="delete-edit">
                    <img src="img/del.png" alt="" class="del">
                    <img src="img/edit.png" alt="" class="edit">
                </div>
            </li> -->  

            <% data.forEach(post=>{ %>

                <li>
                    <input type="checkbox" name="" class="checkbox">
                    
                    <div class="task-info">
                        <h2 class = "task-title"><%= post.title %></h2>
                        <small> <%=post.date%> </small>
                    </div>
    
                    <div class="delete-edit">
                        <a href="api/delete/<%= post.id %>"><img src="img/del.png" alt="" class="del"></a>
                        <a href="#"><img src="img/edit.png" alt="" class="edit"></a>
                    </div>
                </li>
            <% }); %>
        </ul>
    </main>

    <script>
        const checkbox = document.querySelectorAll(".checkbox");
        
        checkbox.forEach(element => {
            element.addEventListener("change", function(){

                const taskTitle = this.closest('li').querySelector(".task-title");

                if(this.checked){
                    taskTitle.classList.add("line-through");
                }else{
                    taskTitle.classList.remove("line-through");
                }

            });
        });
        
    </script>
</body>
</html>